body.algemeen {
	width: 800px;
	margin: auto;
	text-align: left;
	font-size:12px;
	color:gray;
}

header.title {
	font-size: 48px;
	text-align: center;
}


ul.menu li {
	display: inline;
	border-style: double;
	background-color: blue;
}

ul.menu a {
	color:white;
	text-decoration:none;
}

footer {
	color: white;
	text-align: right;
	background-color:black;
	font-size:10px;
}	

p.persoon input[type=text], select, textarea {
	width: 400px;
}

form.contact br {
  display:contents;
}

form.contact span {
	color:red
}

p.persoon label:before {
	content:"\a";
    white-space: pre;
}




