body.algemeen {
	width: 800px;
	margin: auto;
	text-align: left;
}

header.title {
	font-size: 48px;
	text-align: center;
}


ul.menu li {
	display: inline;
	border-style: double;
	background-color: blue;
}

ul.menu a {
	color:white;
}